trigger:
  branches:
    include:
      - main

pool:
  name: 'devops-vm-pool'

steps:
  - task: JavaToolInstaller@0
    displayName: 'Install Java 17'
    inputs:
      versionSpec: '17'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

  - task: Maven@4
    displayName: 'Maven Build and Test'
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean package'
      options: '-B'
      publishJUnitResults: true
      testResultsFiles: '**/TEST-*.xml'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.17'

  - task: CopyFiles@2
    displayName: 'Copy JAR to staging'
    inputs:
      SourceFolder: 'target'
      Contents: '*.jar'
      TargetFolder: '$(Build.ArtifactStagingDirectory)'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'greeting-api-$(Build.BuildId)'
      publishLocation: 'Container'